# Sphinx documentation
sphinx/_build/
docs/_build
docs/_static
docs/templates
archive/

# co2eq
.env
src/co2eq/output/
co2eq.log

#python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# vim 
*.swp
*.swo
*.swn
*.der
