amadeus==5.3.1
certifi==2021.10.8
charset-normalizer==2.0.12
climate-neutral==0.1.dev0
co2eq==0.0.2
countryinfo==0.1.2
cycler==0.11.0
fonttools==4.33.3
geographiclib==1.52
geopy==2.2.0
idna==3.3
iso8601==1.0.2
isodate==0.6.1
kiwisolver==1.4.2
matplotlib==3.5.1
numpy==1.22.3
ourairports==0.1.1.20210412
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
pyparsing==3.0.8
python-dateutil==2.8.2
python-decouple==3.6
pytz==2022.1
requests==2.27.1
six==1.16.0
urllib3==1.26.9
websockets==10.3
environs
